* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#root, body {
    height: 100vh;
}

header, footer {
    background-color: #050a38;
}


a {
    text-decoration: 0;
    color: #fff;
}

.header {
    width: 100vw;
    height: 10vh;
    padding: 1%;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 3fr .8fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        "title nav cart";
    h1 {
        grid-area: title;
        margin-bottom: 3px;
        color: #fff;
    }
    nav {
        grid-area: nav;
        display: flex;
        justify-content: center;
        align-content: center;
        span {
            color: #fff;
            margin-right: 10%;
        }
        a {
            font-size: 1.2rem;
            margin-right: 10px;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .Menu {
        grid-area: cart;
        display: flex;
        justify-content: flex-end;
        span {
            color: #fff;
            &:hover {
                cursor: pointer;
            }
        }
    }
}

main {
    height: 80vh;
    background-color: #f5f5f5;
    .filter {
        height: 20%;
        padding: 1%;
        p {
            font-size: 3rem;
            text-align: center;
            color: #9b971f;
        }
    }
    .products {
        width: 90%;
        height: 70%;
        padding: 5%;
        display: flex;
        justify-content: space-around;
        .cart {
            display: flex;
            flex-direction: column;
            width: 150px;
            height: 400px;
            .cart__title {
                font-size: medium;
                color: #000;
                text-align: center;
                margin-bottom: 20px;
            }
            div {
                display: flex;
                flex-direction: column;
                div {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-around;
                    p {
                        font-size: 1.2rem;
                    }
                }
                .cart__buttonAddCar {
                    width: 90%;
                    height: 30px;
                    margin: 5px auto;
                }
            }
        }
    }
}

footer {
    height: 10vh;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    p {
        color: #fff;
        margin-left: 5px;
        font-size: 1.2rem;
    }
    nav {
        a {
            font-size: 1rem;
            margin-right: 10px;
        }
    }
}