* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#root, body {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}

header, footer {
    background-color: #050a38;
}


a {
    text-decoration: 0;
    color: #fff;
}

.header {
    height: 10vh;
    padding: 1%;
    grid-area: header;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        "title nav cart";
    h1 {
        grid-area: title;
        margin-bottom: 3px;
        color: #fff;
    }
    nav {
        grid-area: nav;
        display: flex;
        justify-content: center;
        .nav__link {
            font-size: 1.2rem;
            margin-right: 10px;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .Menu {
        grid-area: cart;
        display: flex;
        justify-content: flex-end;
        span {
            color: #fff;
            &:hover {
                cursor: pointer;
            }
        }
    }
}

main {
    height: 80vh;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-area: main;
    overflow: scroll;
    .container__carga {
        background-color: #faf0f5e6;
        height: 100%;
        width: 100%;
        position: fixed;
        -webkit-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease;
        .carga {
            border: 15px solid #ccc;
            border-top-color: #3426f4;
            border-top-style: groove;
            height: 100px;
            width: 100px;
            border-radius: 100%;

            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;

            -webkit-animation: girar 2s linear infinite;
            -o-animation: girar 2s linear infinite;
            animation: girar 2s linear infinite;
        }
    }
    @keyframes girar {
        from { transform: rotate(0deg);}
        to { transform: rotate(360deg);}
    }
    .products {
        width: 100%;
        height: 70%;
        padding: 1% 0;
        div {
            margin-left: 1.5%;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            .card {
                width: 250px;
                height: 350px;
                margin: 10px 0;
                padding: 20px;
                background-color: #f1e9e9;
                display: flex;
                flex-direction: column;
                h6 {
                    font-size: medium;
                    text-align: center;
                }
                img {
                    width: 80%;
                    height: 100%;
                    margin: 25px auto;
                }
                p {
                    font-size: 2rem;
                    margin: 5px auto;
                }
                button {
                    width: 80%;
                    height: 50px;
                    background: #f5f5f5;
                    border: none;
                    margin: 10px auto;
                    &:hover {
                        cursor: pointer;
                        background-color: #bbb1b1;
                    }
                }
            }
        }
    }
    .details {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        .cardDetails {
            padding: 1.5%;
            display: grid;
            grid-template-columns: 4fr 3fr;
            grid-template-rows: .3fr 1fr .5fr;
            grid-template-areas: 
            "title title"
            "img details"
            "img count";
            h6 {
                grid-area: title;
                font-size: 3rem;
                text-align: center;
            }
            div {
                grid-area: img;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
            }
            p {
                grid-area: details;
                letter-spacing: 1.2px;
                margin: 0 auto;
            }
            .cart {
                grid-area: count;
                div {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .cart__text {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-around;
                        .cart__stock, .cart__precio {
                            font-size: 1.1rem;
                            margin: 20px 0;
                            text-align: center;
                        }
                    }
                    div {
                        width: 100%;
                        display: flex; 
                        flex-direction: row;
                        align-content: center;
                        justify-content: space-around;
                        button {
                            margin-top: 0;
                            width: 10%;
                        }
                        .cart__counter {
                            font-size: 1.5rem;
                        }
                    }
                    button {
                        width: 100%;
                        height: 35px;
                        margin-top: 22px;
                    }
                }
            }
        }
    }
}

footer {
    height: 10vh;
    padding: 10px;
    grid-area: footer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    p {
        color: #fff;
        margin-left: 5px;
        font-size: 1.2rem;
    }
    nav {
        a {
            font-size: 1rem;
            margin-right: 10px;
        }
    }
}